.container {
    width: 85%;
    display: flex;
    padding: 16px 32px;
    border-top: 0.5px solid #CFD8DC;
    margin: auto;
}

.overline {
    font-size: small;
    font-weight: 300;
    display: flex;
    color: #90A4AE ;
}

.list {
    list-style: none;
    display: flex;
    flex-direction: row;
    padding: 0px;
}

.item_language {
    margin: 0px 3px;
    color: black;
    font-size: small;
    font-weight: 500;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-right: 16px;
    margin-right: 8px;
    border-right: 1px solid #CFD8DC;
}

.item {
    margin: 0px 3px;
    color: black;
    font-size: small;
    font-weight: 300;
    padding: 5px 8px;
}